<%- include('../includes/encabezado.ejs')%>
</head>

<body>
    <%- include('../includes/navegacion.ejs')%>

    <main>
        <form class="forma-producto" action="/admin/<% if(editando) { %>editar-producto<% } else { %>agregar-producto <% } %>" 
            method="POST">
            
            <div class="form-control">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" value="<% if(editando) { %> <%= producto.titulo
                %><% } %>">
            </div>
            <div class="form-control">
            <label for="urlImagen">Url Imagen</label>
            <input type="text" name="urlImagen" id="urlImagen" value="<% if(editando) { %> <%= producto.urlImagen
                %><% } %>">
            </div>
            <div class="form-control">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" step="0.01" value="<% if(editando) { %> <%= producto.precio
                %><% } %>">
            </div>
            <div class="form-control">
            <label for="descripcion">Descripcion</label>
            <textarea name="descripcion" id="descripcion" rows="5"><% if(editando) { %> <%= producto.descripcion
                %><% } %></textarea>
            </div>
            <% if(editando) {%>
                <input type="hidden" value="<%= producto.id %>" name="idProducto">
                <% } %>
            <button class="btn" type="submit"><% if(editando) { %>Actualizar Producto <% } else { %> Agregar Producto <% } %></button>
            </form>
    </main>
<%- include('../includes/fin.ejs')%>