<%- include('../includes/encabezado.ejs')%>
</head>

<body>
    <%- include('../includes/navegacion.ejs')%>

    <main>
        <h1>Mis Productos</h1>
        <p>Lista de todos los productos...</p>
        <% if(prods.length > 0) { %>
        <div class="grid">
            <% for(let producto of prods) { %>
                <article class="card producto-item">
                <header class="card__header">
                <h1 class="producto_titulo">
                <%= producto.titulo %>
                </h1>
                </header>
                <div class="card__image">
                <img src="<%= producto.urlImagen %>" alt="<%= producto.titulo %>">
                </div>
                <div class="card__content">
                <h2 class="producto_precio">$<%= producto.precio %></h2>
                <p class="producto__descripcion"><%= producto.descripcion %></p>
                </div>
                <div class="card_actions">
                    <form action="/agregar-al-carrito" method="POST">
                    <button class="btn"> Agregar al Carrito</button>
                    </form> </div>
                </article>
                <% } %>
        </div>
        <% } else { %>
            <h1>No se encontraron productos</h1>
            <% } %>
    </main>
    <%- include('../includes/fin.ejs')%>